
div{
    background-image: url(https://www.achieversit.com/assets/images/logo-white.png);
    transform: translateX(5px);
    transform: skew(10px);
    transform: scaleX(20px);
    transform: scaleY(2px);
    transition: ease;
    transition-duration: 2sec;

}